body{
    height: 100%;
    align-items: center;
}

.box {
    border: solid 1px black;
    width: 32px;
    height: 32px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    padding-top: 150px;
}

.container>.box:nth-child(17n + 1) {
    width: 100%;
    border: 0;
    height: 0;
  }